{% extends "shop/base.html" %}
{% load static %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col">
            <h2>Pay</h2>
            <p><a href="/">Back</a></p>
            <form action="{% url 'payment:payment' %}" method="POST">
                {% csrf_token %}
                
                <div class="col-md-5">
                    <input style="border-radius: 0;" name='phone_number' class="form-control" type="tel" required
                    placeholder="0xxx-xxx-xxx">
                
                <div class="col-md-5">
                    <button style="border-radius: 0;" type="submit" class="btn btn-dark">
                        LIPA NA MPESA 
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>




{% endblock %}